.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: white;
    z-index: 1000;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    padding: 0 9vw;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.join-now-button {
    background: linear-gradient(to bottom, #60A5FA, #1D4ED8);
    color: white;
    width: 90px;
    height: 36px;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.login-button {
    background-color: #111827;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
}